<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="KanbanBoard.Properties.Settings.kanBanBorad_dbConnectionString"
            connectionString="Data Source=DESKTOP-9AIKQH8\SQLEXPRESSNILSN;Initial Catalog=kanBanBorad_db;Persist Security Info=True;User ID=sa;Password=111"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>